@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');
/* table of contents */
/* ... */

:root {  

  /* COLORS */
  --hue-1: 197;
  --sat-1: 37%;
  --lig-1: 24%;
  --clr-1: hsl(var(--hue-1),var(--sat-1),var(--lig-1));

  --clr-2: hsl(173, 58%, 39%);

  --hue-3: 12;
  --sat-3: 76%;
  --lig-3: 61%;
  --clr-3: hsl(var(--hue-3),var(--sat-3),var(--lig-3));
}

:focus {
  outline: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

main {
  min-height: 90vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.heading {
  margin-bottom: 5em;
}

.btn {  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  text-align: center;
  font-weight: 500;

  min-width: 14em;
  min-height: 3.5rem;
  padding: 1em 2em;
  margin-bottom: 1em;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.primary {
  background: var(--clr-1);
  color: white;  
}

.secondary {
  background: transparent;
  color: hsl(var(--hue-1),var(--sat-1),calc(var(--lig-1) + 10%));

  border: .125rem solid hsl(var(--hue-1),var(--sat-1),calc(var(--lig-1) + 10%));
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 3px 3px rgb(165, 165, 165);
}